<!doctype HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>welcome</title>
        <script> var status = <%- status %>; </script>
        <script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
        <script src="/js/welcome.js"></script>
    </head>
    <body>
       <h1>welcome ~! </h1> 
       <div><a href="/logout" id="logStatus"></a></div>
    </body>
</html> 